<span class="head">Confirm purchase</span>
<div class="purchase-info">
    <span>{{name}}</span>
    <span>{{qty}} x {{price}}</span>
    <span>Total: {{qty}} * {{price}} lv</span>
    <input id="confirm" type="button" value="Confirm">
</div> 